<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.indy.octodo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name="io.indy.octodo.OctodoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:theme="@style/Theme.Octodo" >
        <activity
            android:name="io.indy.octodo.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.indy.octodo.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="io.indy.octodo.ManageListsActivity"
            android:label="@string/title_activity_manage_lists"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>
